.profile-username{
	font-size: 16px;
}
.error {
    background: #EF5350;
    color: #fff;
    padding: 5px 2px;
    margin: 10px 0;
    font-size: 12px;
}
.relative{
	position: relative;
}